body {
    background: #e8f5e9;
    font-family: Times new roman;
}

.container {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    background: #2e7d32;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1b5e20;
}